<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmailMapper">

    <!-- ALERT_ISSUED_INFORMATION 테이블  -->
    <resultMap type="" id="">
        <result column="" property="" />

    </resultMap>

</mapper>